<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-brand tag="h1" class="mb-0">歷史建築管理系統</b-navbar-brand>
    </b-navbar>
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item-dropdown text="訊息中心">
            <b-dropdown-item href="#">公告</b-dropdown-item>
            <b-dropdown-item href="#">操作說明</b-dropdown-item>
            <b-dropdown-item href="#">表單下載</b-dropdown-item>
            <b-dropdown-item href="#">直播專區</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="登錄資料">
            <b-dropdown-item href="#">申請表件</b-dropdown-item>
            <b-dropdown-item href="#">查詢表件</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid>
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'App'
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
